<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center ">
              <ul class="uk-navbar-nav uk-text-bold ">
                <li class="uk-width-medium"><a class="myLink" routerLink="start">Start</a></li>
                <li class="uk-width-medium"><a  class="myLink" routerLink="teoria">Teoria</a></li>
                      <li class="uk-width-medium">
                          <a class="myLink">Gry</a>
                              <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                      <li class="uk-width-medium"><a routerLink="snake">Snake</a></li>
                                      <li class="uk-width-medium"><a routerLink="numbers">Liczby</a></li>
                                      <li class="uk-width-medium"><a routerLink="digits">Ciągi</a></li>
                                    </ul>
                              </div>
                      </li>
                <li class="uk-width-medium"><a  class="myLink" routerLink="wyniki">Wyniki</a></li>
              </ul>
        </div>
    </nav>
</div>

<p></p>
