<div class="resultsContainer">


  <div>
    <h1 class="uk-accordion-title uk-text-large uk-text-bold">List kolejnych gier</h1>
  </div>

  <table class="resultsTable" class="uk-table uk-table-striped">
    <thead class="resultsHeader">
    <tr>
      <th scope="col">NR GRY</th>
      <th scope="col">NAZWA GRY</th>
      <th scope="col">WYLOSOWANE CYFRY</th>
      <th scope="col">ODPOWIEDŹ</th>
      <th scope="col">DATA GRY</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of gameResult">
      <td>{{ result.id }}</td>
      <td>{{ result.game.gameName }}</td>
      <td>{{ result.correctAnswer }}</td>
      <td>{{ result.usersAnswer }}</td>
      <td>{{ result.gameDate }}</td>
    </tr>
    </tbody>
  </table>
</div>
