<div>
  <h1 class="uk-text-large uk-text-bold">Witaj na stronie na temat treningu pamięci</h1>
  <p>Znajdziesz tutaj odrobinę teorii dotyczącej uczenia się, oraz trenowania funkcji poznawczych związanych z uczeniem się, takimi jak uwaga i pamięć.
    Dodatkowo możesz rozwiązać kilka elementarnych testów żeby sprawdzić swoją pamięć oraz zagrać w proste gry by ją usprawnić.
    Jeśli chcesz możesz zarejestrować się na tej stronie, dzięki czemu zyskasz możliwość śledzenia swoich wyników.
  </p>
</div>
